{% extends 'staff/base.html' %}

{% block title %}Распорядок{% endblock %}

{% block content %}
<div class="content">
    <h1 class="page-title">Распорядок</h1>

    <div class="schedule-content">
        <h2>Для чего нужны правила внутреннего трудового распорядка</h2>

        <p>Роль правил внутреннего распорядка, относящихся к локальным нормативным актам, многогранна:</p>

        <ul>
            <li>они определяют порядок назначения на должность и увольнения сотрудников,</li>
            <li>режим труда и отдыха,</li>
            <li>права и полномочия,</li>
            <li>ответственность за различного рода нарушения,</li>
            <li>способы поощрения и меры наказаний за те или иные проступки,</li>
            <li>дресс-код,</li>
            <li>иные условия.</li>
        </ul>

        <p>В глобальном смысле данный документ способствует повышению производительности труда, расширению перспектив организации. В зависимости от предприятия, правила могут редактироваться и содержать какие-то дополнительные пункты.</p>

        <p>Единственное, чего не касаются правила трудового распорядка - конкретных трудовых функций сотрудников - их регулируют положения трудового договора или должностная инструкция.</p>

        <p>Некоторые компании довольно пренебрежительно относятся к наличию и или составлению данного документа. Это неправильно, поскольку в случае жалобы кого-либо из сотрудников в трудовую инспекцию, ее представителю при выездной проверке, первым делом интересуются именно правилами внутреннего трудового распорядка. Еще и поэтому к составлению документа стоит относиться в высшей степени внимательно и серьезно - это позволит избежать в будущем разногласий с контролирующими структурами и возможных административных наказаний.</p>


        </div>
    </div>
</div>
{% endblock %}